process {
    withName: MULTIQC {
        container = { "${params.container_org}multiqc:1.31_d1e680e_v4" }
    }
    withName: GATK4_FILTERMUTECTCALLS {
        container = { "${params.container_org}gatk:4.6.2.0_826ca26_v12" }
    }
    withName: VARPIPE_REPORT {
        container = { "${params.container_org}python:3.12-tb_48008c2_v5" }
    }
    withName: PICARD_CREATESEQUENCEDICTIONARY {
        container = { "${params.container_org}picard:3.4.0_41e1049_v9" }
    }
    withName: VARPIPE_BWAMEM {
        container = { "${params.container_org}bwa:0.7.19_15066f7_v10" }
    }
    withName: PICARD_BUILDBAMINDEX {
        container = { "${params.container_org}picard:3.4.0_41e1049_v9" }
    }
    withName: VARPIPE_INTERPRETATION {
        container = { "${params.container_org}python:3.12-tb_48008c2_v5" }
    }
    withName: PICARD_MARKDUPLICATES {
        container = { "${params.container_org}picard:3.4.0_41e1049_v9" }
    }
    withName: CAT_FASTQ {
        container = { "${params.container_org}ubuntu:24.04_49edfe4_v10" }
    }
    withName: BWA_INDEX {
        container = { "${params.container_org}bwa:0.7.19_15066f7_v10" }
    }
    withName: VARPIPE_COVERAGEANALYSIS {
        container = { "${params.container_org}python:3.12-tb_48008c2_v5" }
    }
    withName: SAMTOOLS_VIEW {
        container = { "${params.container_org}samtools:1.22.1_db4ea16_v9" }
    }
    withName: VARPIPE_TAR {
        container = { "${params.container_org}ubuntu:24.04_49edfe4_v10" }
    }
    withName: SAMTOOLS_FAIDX {
        container = { "${params.container_org}samtools:1.22.1_db4ea16_v9" }
    }
    withName: CLOCKWORK_MINIMAP2 {
        container = { "${params.container_org}minimap2:2.30_e50f579_v7" }
    }
    withName: VARPIPE_LINEAGE {
        container = { "${params.container_org}python:3.12-tb_48008c2_v5" }
    }
    withName: VARPIPE_STRUCTURALVARIANTS {
        container = { "${params.container_org}python:3.12-tb_48008c2_v5" }
    }
    withName: SAMTOOLS_DEPTH {
        container = { "${params.container_org}samtools:1.22.1_db4ea16_v9" }
    }
    withName: GATK4_MUTECT2 {
        container = { "${params.container_org}gatk:4.6.2.0_826ca26_v12" }
    }
    withName: VARPIPE_PDF {
        container = { "${params.container_org}python:3.12-tb_48008c2_v5" }
    }
    withName: TRIMMOMATIC {
        container = { "${params.container_org}trimmomatic:0.39_bd4b18e_v5" }
    }
    withName: VARPIPE_PARSEANNOTATIONS {
        container = { "${params.container_org}python:3.12-tb_48008c2_v5" }
    }
    withName: VARPIPE_CREATEANNOTATIONS {
        container = { "${params.container_org}python:3.12-tb_48008c2_v5" }
    }
    withName: SNPEFF_SNPEFF {
        container = { "${params.container_org}snpeff:5.2f_8ad9b69_v11" }
    }
    withName: GATK4_LEFTALIGNANDTRIMVARIANTS {
        container = { "${params.container_org}gatk:4.6.2.0_826ca26_v12" }
    }
    withName: CLOCKWORK_REMOVECONTAM {
        container = { "${params.container_org}crc:0.12.5_76f8383_v11" }
    }
    withName: PICARD_SORTSAM {
        container = { "${params.container_org}picard:3.4.0_41e1049_v9" }
    }
    withName: PICARD_SAMFORMATCONVERTER {
        container = { "${params.container_org}picard:3.4.0_41e1049_v9" }
    }
}
