process {
    withName: CAT_FASTQ {
        cpus   = 2
        memory = { 2.GB * task.attempt }
    }
    withName: CLOCKWORK_MINIMAP2 {
        cpus   = 6
        memory = { 36.GB * task.attempt }
        time   = 8.h
    }
    withName: CLOCKWORK_REMOVECONTAM {
        cpus   = 2
        memory = { 12.GB * task.attempt }
    }
    withName: TAR_FASTAS {
        cpus   = 1
        memory = { 1.GB * task.attempt }
    }
}
