// Nextflow resource labels for AMDP
params.current_user = System.getProperty('user.name')
process {
    resourceLabels = {[
        'AMDP-Workspace': 'PRG-1b10de31-dbbc-4caf-a2da-8711a54ace66',
        'AMDP-Workflow': 'WKFLW-08a46da6-a78d-4dec-988e-eafb2a250eae',
        'AMDP-Run': 'Development_' + workflow.runName.toString() + '_' + workflow.sessionId.toString(),
        'AMDP-User': params.current_user
    ]}
}
