/*
 * ---------------------------------------------------------
 *  amd-ph-core/configs custom profile loader
 * ---------------------------------------------------------
 *
 * Loaded automatically by amd-ph-core pipelines via the
 * custom_config_base parameter in nextflow.config.
 *
 * See: https://github.com/amd-ph-core/configs
 */

profiles {
    amd {
        params {
            config_profile_description = 'AMD Platform profile for amd-ph-core pipelines'
            config_profile_contact     = 'amd-ph-core'
            config_profile_url         = 'https://github.com/amd-ph-core/configs'
        }

        docker {
            runOptions = '--read-only --user default'
        }

        process {
            scratch = true
        }
    }
    amdp_dev {
        params.container_org = 'oamd-bio-'
        params.static_assets = 's3://amdp-dev-static-assets/amd-ph-core-static-assets'
        includeConfig "${params.custom_config_base}/conf/amdp/amdp-dev.config"
    }
    amdp_tst {
        params.container_org = 'oamd-bio-'
        params.static_assets = 's3://amdp-tst-static-assets/amd-ph-core-static-assets'
        includeConfig "${params.custom_config_base}/conf/amdp/amdp-tst.config"
    }
    amdp_uat {
        params.container_org = 'oamd-bio-'
        params.static_assets = 's3://amdp-uat-static-assets/amd-ph-core-static-assets'
        includeConfig "${params.custom_config_base}/conf/amdp/amdp-uat.config"
    }
    amdp_prd {
        params.container_org = 'oamd-bio-'
        params.static_assets = 's3://amdp-prd-static-assets/amd-ph-core-static-assets'
        includeConfig "${params.custom_config_base}/conf/amdp/amdp-prd.config"
    }
    amdp_spoke {
        params.container_org = 'oamd-bio-'
        params.static_assets = 's3://amdp-spoke-dev-static-assets/amd-ph-core-static-assets'
        includeConfig "${params.custom_config_base}/conf/amdp/amdp-spoke.config"
    }
}
