/*
 * ---------------------------------------------------------
 *  amd-ph-core/configs custom profile loader
 * ---------------------------------------------------------
 *
 * Loaded automatically by amd-ph-core pipelines via the
 * custom_config_base parameter in nextflow.config.
 *
 * See: https://github.com/amd-ph-core/configs
 */

profiles {
    amd {
        params {
            config_profile_description = 'AMD Platform profile for amd-ph-core pipelines'
            config_profile_contact     = 'amd-ph-core'
            config_profile_url         = 'https://github.com/amd-ph-core/configs'
        }

        docker {
            runOptions = '--read-only --user default'
        }

        process {
            scratch = true
        }
    }
}
